@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Mitr:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic+Coding&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-white: #E8E9ED;
    --color-black: #1D1916;
    --color-body: #ECE2D0;
    --color-destaque: #89023E;

    --font-title: "Koulen","Montserrat", sans-serif;
    --font-subtitle: "Mitr", sans-serif;;
    --font-body: "Poppins", monospace;;
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    width: 100vw;
}

header::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/header_DrCubo.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -10;
}

h1{
    color: var(--color-black);
    font-size: 9.375rem;
    font-weight: 400;
    font-family: var(--font-title)
}

h2{
    color: var(--color-body);
    font-size: 3.625rem;
    font-weight:400;
    font-family: var(--font-subtitle)
}

p{
    color: var(--color-body);
    font-size: 1.875rem;
    font-weight: 400;
    font-family: var(--font-body)
}

#faixa_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    content: "";
    background-color: var(--color-destaque);
    height: 10rem;
    width: 100vw;
}

#secao-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
}

#secao-tutorial{
    display: flex;
    align-items: flex-start;
    padding: 4rem;
    flex-direction: column;
}

#texto-tutorial {
    color: var(--color-black);
}

#texto-tutorial h2{
    color: var(--color-black);
    font-size: 2.5rem;
    font-family: var(--font-subtitle);
}

#texto-tutorial p{
    color: var(--color-black);
    font-size: 1.5rem;
    font-family: var(--font-body);
}

#lista-links {
    display: flex;
    padding: 4rem;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

#lista-links a{
    color: var(--color-black);
    font-size: 1.5rem;
    font-family: var(--font-body);
}

#lista-links img{
    display: flex;
    height: 24rem;
    padding: 2rem;
}